<div class="container">
  <header>
    <ul>
      <li><a href="#">{{ title }}</a></li>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
    </ul>
  </header>
  <main>
    <nav>
      <ul>
        <li>
          <div>
            server
          </div>
        </li>
        <li>
          <div>
            server
          </div>
        </li>
        <li>
          <div>
            server
          </div>
        </li>
      </ul>
    </nav>
    <section>
      <div>
        Some tile
      </div>
      <div>
        Some tile
      </div>
      <div>
        Some tile
      </div>
    </section>
  </main>
</div>
